* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100% !important;
    background-color: #f4f5f7;
    overflow: hidden;
}

.uk-navbar-container {
    background-color: #ffffff !important;
}

.uk-navbar-container.vertical {
    background-color: #7fffd4 !important;
    /* #0062C0 */
}

.uk-navbar-container.horizontal ul li a {
    color: black
}

.uk-navbar-container ul li.uk-active a {
    color: #00204a;
}

.uk-navbar-container ul li a {
    /* padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px; */
    color: white;
    font-size: 20px;
}

.uk-navbar-container a.uk-logo {
    font-size: 48px;
}

.uk-navbar-container.horizontal {
    height: 10vh;
}

.uk-navbar-container.vertical {
    width: 10vw;
    height: 90vh;
}

.uk-container.tasks .deadline .uk-card {
    border-left: 5px solid #89CFF0;
}

.uk-container.tasks .new .uk-card {
    border-left: 5px solid #66b266;
}

.uk-container.tasks .complete .uk-card {
    border-left: 5px solid #efbbff;
}

.uk-container.tasks .uk-card .uk-card-footer {
    height: 10px !important;
}

.uk-container.tasks .uk-card .uk-card-footer i {
    font-size: 24px;
    color: #bfbfbf;
}

.uk-container.tasks .uk-card .uk-card-footer i.fa-comment {
    /* color: grey; */
}

.uk-container.tasks .uk-card .uk-card-footer i.fa-check-circle {
    /* color: #66b266; */
}

.uk-container.tasks .uk-card .uk-card-footer i.fa-times-circle {
    /* color: #ff3232; */
}
.uk-width-1-3 .recent-chats{
    margin-top:5px;
}
.uk-width-1-3 .recent-chats a:link{
    color: #696969;
    text-decoration: none;
}
.uk-width-1-3 .recent-chats a:hover{
    text-decoration: none;
}