* {
    padding: 0;
    margin: 0;
}

html,
body.body {
    width: 100% !important;
    background-color: #f4f5f7;
    overflow: hidden;
}


.uk-navbar-container {
    background-color: #ffffff !important;
}

.uk-navbar-container.vertical {
    background-color: #7fffd4 !important;
    /* #0062C0 */
}

.uk-navbar-container.horizontal ul li a {
    color: black
}

.uk-navbar-container ul li.uk-active a {
    color: #00204a;
}
/* hr{
    border-color: #efbbff;
    background-color: #efbbff;
} */
.uk-navbar-container ul li a {
    /* padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px; */
    color: white;
    font-size: 20px;
}

.uk-navbar-container a.uk-logo {
    font-size: 48px;
}

.uk-navbar-container.horizontal {
    height: 10vh;
}

.uk-navbar-container.vertical {
    width: 10vw;
    height: 90vh;
}

.uk-container.tasks .deadline .uk-card {
    border-left: 5px solid #89CFF0;
}

.uk-container.tasks .new .uk-card {
    border-left: 5px solid #66b266;
}

.uk-container.tasks .complete .uk-card {
    border-left: 5px solid #efbbff;
}

.uk-container.tasks .uk-card .uk-card-footer {
    height: 10px !important;
}

.uk-container.tasks .uk-card .uk-card-footer i {
    font-size: 18px;
    color: #bfbfbf;
}

.uk-container.tasks .uk-card .uk-card-footer i.fa-comment {
    color: grey;
}

.uk-container.tasks .uk-card .uk-card-footer i.fa-check-circle {
    color: #66b266;
}

.uk-container.tasks .uk-card .uk-card-footer i.fa-times-circle {
    color: #ff3232;
}
.uk-width-1-3 .recent-chats{
    margin-top:5px;
}
.uk-width-1-3 .recent-chats a:link{
    color: #696969;
    text-decoration: none;
}
.uk-width-1-3 .recent-chats a:hover{
    text-decoration: none;
}

html, body#white-bg{
background-color: #7FFFD4;
}

.nav-section .uk-navbar-right .login{
    background-color: #1D2951;
    color: #fff;
    border-radius: 25px;
    width: 130px;
    margin-right: 50px;
}
.section-main .text{
    color: #1D2951; 
    font-size: 32px;
padding-left: 200px;
padding-top: 100px;
}
.section-main .text-right{
    color: #fff;
    font-weight: 600;
    font-size: 52px;
    text-align: center;
    padding-top: 100px;
}
.section-main .signup{
    margin-top:3%;
}
.section-main .signup a.mentee{  
    
    font-weight: 400;
    border-radius: 20px;
    margin-right:20px;
    background-color: #fff;
    color:  #FA7e5c;
    font-size: 20px;
    border-color: #FA7e5c;
}

.section-main .signup a.mentor{  
    background-color: #FA7e5c;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 20px;
    margin-left:20px;
}